
ion-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

ion-card {
    width: 300px;
    margin: auto;
    margin-top: 15%;
}

#loginForm {
    padding: 25px;
}


.logo {
    margin-left: 25%;
    width: 50%;
    height: 50%;
}

.texto{
    margin-top: 20px;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

@media (max-width: 600px) {
    ion-card {
        margin-top: 35%;
        width: 60%;
    }
}