<ion-content [fullscreen]="false">
    <ion-button fill="clear" aria-label="New Place"  class="custom-margin" (click)="onNewPlace()">
        <ion-icon slot="icon-only"  color="primary"  name="create-outline" aria-hidden="true"></ion-icon>
    </ion-button>

    <app-place-info
        *ngFor="let place of PlaceService.personalPlaces$ | async ; let i = index"
        [place]="place"
        (editClicked)="onEditPlace(place)"
        (deleteClicked)="onDeletePlace(place)"
        [favButton]="false"
        >
        </app-place-info>
</ion-content>

