<ion-header>
  <ion-toolbar color="primary" class="navbar">
    <ion-menu-button  class="buttons" slot="start"></ion-menu-button>
    <ion-buttons slot="end" class="buttons">
      <ion-item color="black" (ionChange)="onChangeLanguage($event)">
        <ion-select label='{{"navbar.idioma" | translate}}'>
          <ion-select-option [value]="'en'">English</ion-select-option>
          <ion-select-option [value]="'es'">Español</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button >
        {{username}}
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




