<ion-list>
  <ion-radio-group>

    <ion-item>
      <ion-label>Parque</ion-label>
      <ion-radio value="Park"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Monumento</ion-label>
      <ion-radio value="Monument"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Iglesia</ion-label>
      <ion-radio value="Church"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Construcción</ion-label>
      <ion-radio value="Construction"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Mirador</ion-label>
      <ion-radio value="Viewpoint"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Playa</ion-label>
      <ion-radio value="Beach"></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>
