<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content-container">
    <div class="profile-card">
      <ion-card>
        <ion-card-content class="ion-text-center">
          <div class="image-container">
            <ion-img class="profile-image" src="../../../assets/img/DANI.png" alt="Imagen"></ion-img>
          </div>
          <ion-text class="text-container">
            <h1>Daniel Luque Gallardo</h1>
            <h2>{{"aboutMe.study" | translate}}</h2>
          </ion-text>
          <div class="description-container">
            <p>{{"aboutMe.text1" | translate}}</p>
            <p>{{"aboutMe.text2" | translate}}</p>
          </div>
          <div class="social-links">
            <ion-button href="https://github.com/daluga0503" target="_blank">
              <ion-icon name="logo-github"></ion-icon>
            </ion-button>
            <ion-button href="https://www.linkedin.com/in/daniel-luque-gallardo-9a568a25a/" target="_blank">
              <ion-icon name="logo-linkedin"></ion-icon>
            </ion-button>
            <ion-button href="mailto:dluqgal0503@g.educaand.es">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>



